{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}
    Automóveis
    {% endblock title %}</h1>
{% endblock header %}

{% block content %}
    <div class="row" >
        {% for car in cars %}
            <a class="card-clickable col-md-6" href="{{ url_for('car.car_details', car_id=car.id) }}">
                <div class="card mb-4">
                    <img src="{{ url_for('uploaded_file', filename=car.pictures[0]) }}" class="card-img-top" alt="{{ car.model }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ car.make }} {{ car.model }} {{ car.year }}</h5>
                        <p class="card-text">{{ car.price }}</p>
                        <p class="card-text"><small class="text-muted">{{ car.fuel_type }}</small></p>
                    </div>  
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock content %}