.carousel-image {
    width: 100%;
    height: 500px; /* or any fixed height you prefer */
    object-fit: cover; /* Ensures the image covers the container without distortion */
}


.card-clickable, .card-clickable:hover {
    text-decoration: none;
    color: inherit;
}

.card-img-top {
    width: 100%;
    height: 300px; /* Set the height as needed */
    object-fit: cover; /* Maintain aspect ratio, cover the entire area */
}

.card-body {
    text-align: center;
}

@media (max-width: 1444px) {
    .card-img-top {
        height: 250px; /* Set the height as needed */
    }
}

@media (max-width: 1230px) {
    .card-img-top {
        height: 200px; /* Set the height as needed */
    }
}

@media (max-width: 1020px) {
    .card-img-top {
        height: 150px; /* Set the height as needed */
    }
}

@media (max-width: 768px) {
    .carousel-image {
        height: 300px; /* Adjust height for tablets */
    }
    .card-img-top {
        height: 300px; /* Set the height as needed */
    }
}

@media (max-width: 576px) {
    .carousel-image {
        height: 200px; /* Adjust height for mobile devices */
    }

    .card-img-top {
        height: 200px; /* Set the height as needed */
    }
}

@media (max-width: 400px) {
    .card-img-top {
        height: 150px; /* Set the height as needed */
    }
}